@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  background: radial-gradient( #9198e5, #e66465);
  background-position: center;
  background-size: cover;
  margin-top: 0;
}
.navbar {
  background-color: rgb(58, 58, 58);
  width: 100%;
  height: 30px;
  align-items: right;
  margin-bottom: 0;
}

.navbar a:link {
  font-size: 30px;
  text-decoration: none;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(8, 14, 14);
}

.navbar a:visited {
  color: rgb(8, 14, 14);
  ;
}

.navbar a:active {
  color: #00dc00;
}

.navbar a:hover {
  color: #00dc00;
}

.navbar a {
  float: right;
  margin-right: 10px;
}
.container-data{
  position: fixed;
  top: 70px;
  background-color: white;
  box-shadow: 0 0 5px #00dc00;
  width : 69%;
  height: 100%;
  overflow-y: scroll;
}
.container-profileinfo{
  position:fixed;
  top: 60px;
  right: 0;
  box-shadow: 0 0 5px #00dc00;
  margin-top: 10px;
  background-color: white;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #00dc00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  width: 400px;
  min-height: 400px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #00dc00;
  padding: 40px 30px;
  margin-top: 3cm;
  text-align: center;
}

.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.container .input-group {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.container .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.container .input-group input:focus, .input-group input:valid {
  border-color: #00dc00;
}
.div-diagnostics {
  position: fixed;
  text-align: center;
  top: 60px;
  width: 80%;
  left: 10%;
  height: 100%;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  background-color: white;
}
.container .input-group select {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.container .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #00dc00;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

.container .input-group .btn:hover {
  transform: translateY(5px);
  background: #00dc00;
}
.div-diagnostics .input-group select {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.div-diagnostics .input-group .btn {
  display: block;
  position: absolute;
  margin-top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #00dc00;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

.div-diagnostics .input-group .btn:hover {
  transform: translateY(5px);
  background: #00dc00;
}
.div-diagnostics .input-group {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.div-diagnostics .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.div-diagnostics .input-group input:focus, .input-group input:valid {
  border-color: #00dc00;
}

.div-diagnostics .input-group {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.div-diagnostics .input-group input {
  width: 70%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.div-diagnostics .input-group input:focus,
.input-group input:valid {
  border-color: #00dc00;
}
